{% extends 'parts/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    Feedback
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "feedback.css" %}">
{% endblock %}

{% block content %}
</div>
    <div class="section">
        <h2>Browse Feedbacks</h2>
        {% for feedback in feedback_list %}
            <div class="complaint">
                <div class="status-circle status-open"></div>
                <div class="content">
                    <h3>{{feedback.topic}}</h3>
                    <p>{{feedback.message}}</p>
                </div>
                <div class="actions">
                    <button class="upvote">Upvote</button>
                    <button class="downvote">Downvote</button>
                </div>
            </div>
    </div>
        {% endfor %}
 </div>
{% endblock %}