<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href=" ../../static/category.css">
</head>
<body>
    <!-- Navbar -->
    <div class="navbar">
        <div class="logo">University Complaint Handling System</div>
        <div class="menu">
            <a href="/Home_page.html">Home</a>
            <a href="/My_complaints.html">My Complaints</a>
            <a href="/Contact_us.html">Contact Us</a>
        </div>
    </div>

    <!-- Main Title -->
    <h1 class="main_title">Select Category</h1>

    <!-- Categories -->
    <div class="Categories">
        <div class="single_category" id="food">
            <img src="/food-img.png" alt="Food Photo">
            <h2 class="title">Food</h2>
        </div>
        <div class="single_category" id="busses">
            <img src="/bus-img.png" alt="Bus Photo">
            <h2 class="title">Busses</h2>
        </div>
    </div>
</body>
</html>
