{% extends 'parts/base.html' %}
{% load static %}

{% block title %}
    University Feedback Handling System
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "home.css" %}">
{% endblock %}

{% block content %}
<!-- 2- Welcome Section -->
    <div class="welcome-section">
        <h1>Welcome to University Feedback Handling System</h1>
        <p>Your platform to submit and manage feedback within the university environment.</p>
    </div>

    <!-- 3- Fomplaints Overview Section -->
    <div class="overview-section">
        <div class="overview-card">
            {% if user.is_authenticated %}
                <h3><a href="{% url "feedbacks:submit_feedback" %}">Submit a Feedback</a></h3>
            {% else %}
                <h3><a href="#" onclick="alertLogin()">Submit a Feedback</a></h3>
            {% endif %}
            <p>Facing an issue? Let us know by submitting a feedback and we'll take it forward.</p>
        </div>
        
        {% comment %} <div class="overview-card">
            <h3>Track Your Feedbacks</h3>
            <p>Track the progress of your submitted feedbacks and receive timely updates.</p>
        </div> {% endcomment %}
        <div class="overview-card">
            {% if user.is_authenticated %}
                <h3><a href="{% url "pages:browes_feedbacks" %}">Browse Feedbacks</a></h3>
            {% else %}
                <h3><a href="#" onclick="alertLogin()">Browse Feedbacks</a></h3>
            {% endif %}
                <p>View all submitted feedbacks and see if your issue has already been addressed.</p>
            
        </div>
    </div>
{% endblock %}
