{% extends 'parts/base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University Feedback Handling System - Home</title>
    <link rel="stylesheet" href=" ../../static/home.css">
</head>
<body>
    <!-- 2- Welcome Section -->
    <div class="welcome-section">
        <h1>Welcome to UFHS</h1>
        <p>Your platform to submit and manage feedback within the university environment.</p>
    </div>

    <!-- 3- Fomplaints Overview Section -->
    <div class="overview-section">
        <div class="overview-card">
            <h3>Submit a Feedback</h3>
            <p>Facing an issue? Let us know by submitting a feedback and we'll take it forward.</p>
        </div>
        <div class="overview-card">
            <h3>Track Your Feedbacks</h3>
            <p>Track the progress of your submitted feedbacks and receive timely updates.</p>
        </div>
        <div class="overview-card">
            <h3>Browse Feedbacks</h3>
            <p>View all submitted feedbacks and see if your issue has already been addressed.</p>
        </div>
    </div>

    <!-- Footer -->
</body>
</html>
{% endblock %}
