{% extends 'parts/base.html' %}
{% load static %}

{% block title %}
    My Feedback
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "my_feedback.css" %}">
{% endblock %}

{% block content %}
    <div class="section">
        <div class="submit_new">
            <a href="{% url "feedbacks:submit_feedback" %}"><h2>Submit New Complaint</h2></a>
        </div>
        <h2>Browse Complaints</h2>
        <div class="complaint">
            <div class="status-circle status-open"></div>
            <div class="content">
                <h3>Title</h3>
                <p>Body text for whatever you'd like to say. Add main takeaway points, quotes, anecdotes, or even a very short story.</p>
            </div>
            <div class="actions">
                <button class="upvote">Upvote</button>
                <button class="downvote">Downvote</button>
            </div>
        </div>
        <div class="complaint">
            <div class="status-circle status-review"></div>
            <div class="content">
                <h3>Title</h3>
                <p>Body text for whatever you'd like to say. Add main takeaway points, quotes, anecdotes, or even a very short story.</p>
            </div>
            <div class="actions">
                <button class="upvote">Upvote</button>
                <button class="downvote">Downvote</button>
            </div>
        </div>
        <div class="complaint">
            <div class="status-circle status-closed"></div>
            <div class="content">
                <h3>Title</h3>
                <p>Body text for whatever you'd like to say. Add main takeaway points, quotes, anecdotes, or even a very short story.</p>
            </div>
            <div class="actions">
                <button class="upvote">Upvote</button>
                <button class="downvote">Downvote</button>
            </div>
        </div>
    </div>
{% endblock %}