{% extends 'parts/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    Feedback
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "feedback.css" %}">
{% endblock %}

{% block content %}
    <div class="section">
        <h2>Submit Your Feedback</h2>
        <form class="form" method="post">
            {% csrf_token %}
            {% render_field form.topic type="text" id="feedback_title" placeholder="Enter Title" %}
            {% render_field form.message placeholder="Describe your feedback..." %}
            <div class="actions">
                
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>

       <!-- Browse Complaints Section -->
       <div class="section">
        <h2>Browse Feedbacks</h2>
        <div class="complaint">
            <div class="status-circle status-open"></div>
            <div class="content">
                <h3>Title of Feedback</h3>
                <p>This is a description of the complaint. Add details about the issue, your experience, or suggestions.</p>
            </div>
            <div class="actions">
                <button class="upvote">Upvote</button>
                <button class="downvote">Downvote</button>
            </div>
        </div>
    </div>
{% endblock %}
