{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static "base.css" %}">
        <title>{% block title %}{% endblock %}</title>
        {% block css_files %}{% endblock %}
    </head>
    <body>
        <!-- Navigation Bar -->
        <nav class="navbar">
            <img src="{% static "images/AUIB.png"%}" class="logo">
            <div class="menu">
                <a href="/home">Home</a>
                <a href="/my-feedback">My Feedbacks</a>
                <a href="/contact-us.html">Contact Us</a>
            </div>
            <a href="{% url 'login:register' %}" class="button">Login</a>
        </nav>
        <main>
        {% block content %}

        {% endblock %}
        </main>
        <footer>
            {% include 'parts/footer.html' %}
        </footer>
    </body>
</html>
